{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}
{% block body %}

{% load static %}
<div class="aboutus1"style="background-image: url({% static 'images/aabt.jpg' %}); width="350px" height="500px"" >
<br><br><br><strong>  <h1 style="text-align:center; color:black;">About Us</h1><br><br></strong>
<div class=" d-flex align-items-center justify-content-center">
<div >
<figure style="margin: ">
  <img src="{% static 'images/hiding.gif' %}" width="350px" height="500px" alt="#"/>
</figure>
</div>

<div>
<strong><p style="text-align:left; color:black;">
    Welcome to our ecommerce project! We are a team of four college students, Shubham Jakhmola,
    Himanshu Shukla,Ashutosh Mago, and Rajdeep Singh Thakur. Our goal is to create an online
    shopping platform that provides a 
    seamless and personalized shopping experience for our customers.We believe with our skillsets and perspectives
     we have enabled us to create a well-rounded team that can effectively tackle the challenges of ecommerce development.
    We understand that the world of ecommerce is constantly evolving and that customers have high expectations when
     it comes to online shopping. That is why we are committed to staying up-to-date with the latest trends and technologies
      in order to provide the best possible experience for our users.
    Our team is dedicated to creating a platform that is both user-friendly and secure. We are focused on building a
    system that ensures the safety and privacy of our customers' information while providing them with a smooth and
    hassle-free shopping experience.
    We are excited about the opportunity to create something new and innovative in the world of ecommerce. We look
    forward to sharing our progress with you and hope that you will join us on this exciting journey. Thank you for
    your interest in our project!
    </p></strong>
  </div>
</div>
</div>
{% endblock body %}