{% extends 'base.html' %}
{% block title %}privacy{% endblock title %}
{% block body %}
<h1 style="text-align:center;">Privacy Policies</h1><br><br>
<p >
    At our ecommerce project, we are committed to protecting the privacy and security of our users.<br>
    This privacy policy outlines the types of information we collect, how we use and protect that <br>
    information, and your rights as a user.                                            <br>          
    What information do we collect?<br>
    When you use our ecommerce platform, we may collect certain personal information, including:<br>
1.1.	Name<br>
2.	Email address<br>
3.	Shipping and billing address<br>
4.	Payment information (such as credit card details)<br>
5.	Purchase history<br>
6.	IP address<br><br>
How do we use your information?<br>
We use your personal information to provide you with a personalized shopping experience and to process<br>
your orders. This includes:<br>

1.	Fulfilling your orders and delivering products to you<br>
2.	Processing payments and preventing fraud<br>
3.	Communicating with you about your orders, including order confirmations and shipping updates<br>
4.	Providing customer support and addressing any issues you may have<br>
5.	Personalizing your shopping experience and offering recommendations based on your purchase history<br>
6.	Analyzing user behavior and improving our platform<br><br>
We do not share your personal information with third parties for marketing purposes.<br>
How do we protect your information?<br>
We take the security of your personal information seriously and use a variety of measures to protect it, including:<br>
1.	Encrypting all sensitive data, including payment information<br>
2.	Storing data on secure servers with limited access<br>
3.	Regularly monitoring our systems for potential vulnerabilities<br>
4.	Using secure protocols for data transmission<br><br>
Your rights as a user:<br>
As a user, you have certain rights with regards to your personal information, including:<br>
1.	The right to access your personal information and request a copy of it<br>
2.	The right to correct any inaccuracies in your personal information<br>
3.	The right to have your personal information deleted (subject to certain exceptions)<br>
4.	The right to object to the processing of your personal information<br><br>
To exercise any of these rights, please contact us using the contact information provided below.<br>

Changes to this privacy policy

We may update this privacy policy from time to time to reflect changes in our practices or applicable laws.<br>
We encourage you to review this policy periodically.<br><br>

Contact us <br>
If you have any questions or concerns about this privacy policy or how we use your personal <br>
information, please contact us at <button><a href="/contact">Click here</a></button></p>.
  

{% endblock body %}